.details-container {
  margin-top: 65px;
  position: relative;
  justify-content: space-between;
}
.GomenGomen {
  padding: 10px 20px;
  width: fit-content;
  position: absolute;
  top: -55px;
  right: 5%;
  z-index: 200;
  border: none;
  font-size: 15px;
  display: flexs;
  align-items: center;
  gap: 5px;
  border-radius: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-decoration: none !important;
  background: #f36d6d;
  color: black !important;
}
.hero-button {
  padding: 8px 13px !important;
  border: none;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 30px;
  font-family: "Poppins", sans-serif;
  text-decoration: none !important;
}
.button-wrapper {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  gap: 20px
}
.btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--theme);
  color: black !important;
}
.btn-secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(176, 176, 176, 0.829);
  backdrop-filter: blur(10px);
  color: white;
}



.details-container-background {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  object-fit: cover;
}
.details-header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(20px);
  background: rgba(93, 93, 93, 0.701);
  z-index: -1;
}

.details-header {
  justify-content: space-between;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.details-header-primary {
  max-width: calc(70% - 40px);
  padding: 40px;
}

.details-header .anime-details {
  gap: 20px;
}

.anime-details-poster {
  height: 250px;
}

.anime-statistics-tiles-wrapper {
  gap: 2px;
}
.anime-statistics-tile {
  font-size: 12px;
  line-height: 12px;
  color: black;
  padding: 4px;
  font-weight: 500;
}
.anime-details-content {
  gap: 30px;
}
.anime-details-content p {
  font-size: 14px;
  color: rgb(224, 224, 224);
  max-height: 100px;
  overflow-y: auto;
}
.namo {
  padding: 2px 4px;
  width: fit-content;
  font-weight: 500;
  font-size: 15px;
  align-items: center;
  color: rgb(207, 218, 214);
}
.homo {
  padding: 2px 4px;
  width: fit-content;
  color: white;
  font-weight: 500;
  font-size: 15px;
  align-items: center;
}
.title-large {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: -20px;
  margin-bottom: -10px;
  padding: 0;
}

.rat {
  padding: 2px 8px;
  border-radius: 2px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: fit-content;
  background-color: aliceblue;
  color: black;
  font-size: 0.7rem;
  font-weight: 600;
  align-items: center;
  margin-bottom: 0;
}
.qual {
  background-color: var(--theme);
  color: black;
  padding: 2px 4px;
  border-radius: 2px;
  font-size: 0.7rem;
  font-weight: 600;
  gap: 2px;
}
.subE {
  color: black;
  padding: 2px 4px;
  border-radius: 2px;
  font-size: 0.7rem;
  background-color: rgb(245, 180, 245);
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 3px;
}
.dubE {
  color: black;
  padding: 2px 4px;
  border-radius: 2px;
  font-weight: 700;
  font-size: 0.7rem;
  background-color: rgb(151, 235, 238);
  display: flex;
  align-items: center;
  gap: 3px;
}

.episode-tile {
  width: calc(100% / 4 - 5px);
  display: inline-block;
  padding: 5px;
  cursor: pointer;
  border-radius: 4px;
  overflow: hidden;
}
.typo {
  padding: 2px 4px;
  width: fit-content;
  color: white;
  font-weight: 500;
  font-size: 13px;
  align-items: center;
}
.duran {
  padding: 2px 4px;
  width: fit-content;
  color: white;
  font-weight: 500;
  font-size: 13px;
  align-items: center;
}
.doto {
  color: #ccbfbf;
  font-size: 10px;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.dotoi {
  color: #ccbfbf;
  font-size: 10px;
  margin-left: 5px;
  align-items: center;
  justify-content: center;
}

.anime-statistics-tile:nth-of-type(5n - 4) {
  background-color: rgba(107, 213, 242, 0.816);
  border-radius: 3px 0px 0 3px;
}
.anime-statistics-tile:nth-of-type(5n - 3) {
  background-color: white;
}
.anime-statistics-tile:nth-of-type(5n - 2) {
  background-color: #ffdd95;
}
.anime-statistics-tile:nth-of-type(5n - 1) {
  background-color: #b0e3af;
}
.anime-statistics-tile:nth-of-type(5n) {
  background-color: #e3b5cd;
  border-radius: 0px 3px 3px 0px;
}
.details-header-secondary {
  padding: 20px;
  flex-grow: 1;
  max-width: calc(25% - 40px);
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
  display: flex;
  flex-direction: column;
}
.details-header-statistics {
  border-bottom: 1px solid grey;
  margin-bottom: 20px;
}
.details-header-secondary p {
  font-size: 14px;
  margin-bottom: 10px;
}
.details-header a {
  text-decoration: none;
  color: white;
}
.details-header a:hover {
  color: var(--theme);
}
.genre-button {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 3px 7px;
  margin: 3px;
  border: 1px solid;
  border-radius: 15px;
  font-size: 13px;
}
.details-header-genre {
  border-bottom: 1px solid grey;
}
@media screen and (max-width: 1200px) {
  .details-header-primary {
    min-width: 100%;
  }
  .details-header-secondary {
    min-width: 100%;
  }
  .details-header-genre {
    border-bottom: none;
  }
  .details-header-statistics {
    border-bottom: none;
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 700px) {
  .details-container {
    margin-top: 50px;
  }
}
@media screen and (max-width: 700px) {
  .specif {
    display: none;
  }
  .anime-details {
    flex-direction: column;
  }
  .anime-details-content .title-large {
    text-align: center;
  }
  .anime-details-content {
    align-items: center;
  }
  .GomenGomen {
    padding: 5px 10px;
    width: fit-content;
    position: absolute;
    top: -40px;
    right: 10%;
    z-index: 200;
    border: none;
    font-size: 13px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    text-decoration: none !important;
    background: #f36d6d;
    color: black !important;
  }
  .anime-details-poster {
    height: 250px;
    margin: auto;
  }
}
@media screen and (max-width: 450px) {
  .details-header-primary {
    padding: 10px;
  }
  .GomenGomen {
    padding: 4px 8px;
    width: fit-content;
    position: absolute;
    top: -37px;
    right: 15%;
    z-index: 200;
    border: none;
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    text-decoration: none !important;
    background: #f36d6d;
    color: black !important;
  }
}
